### SQL Assignment 10
-------------

### Q-1. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

Ans : SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS R_NUM, first_name, salary FROM employee) as HEllO WHERE        R_NUM=5;

### Q-2. Write an SQL query to fetch the list of employees with the same salary.

Ans : SELECT DISTINCT e.id,e.name,e.salary from employees e ,employees e1 WHERE e.salary=e1.salary AND e.id != e1.id