### SQL Assignment 6
-------------

### Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

Ans : SELECT * FROM Worker WHERE YEAR(JOINING_DATE) = 2014 AND MONTH(JOINING_DATE) = 02;

### Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

Ans : SELECT column_name, COUNT(column_name) FROM Worker GROUP BY FEILD HAVING COUNT(column_name) > 1;

### Q-3. How to remove duplicate rows from Employees table.

Ans : CREATE TABLE Employee ( ID INT PRIMARY KEY AUTO_INCREMENT NOT NULL, FIRST_NAME VARCHAR(50),<br> LAST_NAME VARCHAR(50),<br>  COUNTRY VARCHAR(50) );<br> 

INSERT INTO Employee VALUES (1,'RANI','SHARMA','INDIA'),<br>  (2,'RANI','SHARMA','INDIA'), <br> (3,'RANI','SHARMA','INDIA'),<br>  (4,'DHANSHRI','MANUSMARE','USA'),<br>  (5,'DHANSHRI','MANUSMARE','USA'), <br> (6,'DHANSHRI','MANUSMARE','USA');

DELETE e1.* from employee e1 INNER JOIN employee e2 WHERE e1.id > e2.id AND e1.FIRST_NAME = e2.FIRST_NAME AND e1.LAST_NAME = e2.LAST_NAME AND e1.COUNTRY = e2.COUNTRY;