## Python Advance Programming Assignment 14

### 1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

In [6]:
def show_the_love(lst):
    out = lst.copy()
    sum = 0
    for i in range(len(out)):
        if out[i] is not min(out):
            sum += out[i]/4
            out[i] =  out[i]-(out[i]/4)
    out[out.index(min(out))] = sum +min(out)
    print(out)

In [9]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [10]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

In [11]:
show_the_love([2, 100])

[27.0, 75.0]

### 2. Create a function that takes in two words as input and returns a list of three elements, in the following order:

   1.Shared letters between two words.
   2.Letters unique to word 1.
   3.Letters unique to word 2.

Each element should have unique letters, and have each letter be alphabetically sorted.

In [15]:
def letters(one,two):
    one_set = set(one)
    two_set = set(two)
    output = []
    output.append(''.join(sorted(one_set.intersection(two_set))))
    output.append(''.join(sorted(one_set.difference(two_set))))
    output.append(''.join(sorted(two_set.difference(one_set)))) 
    print(output)

In [17]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [18]:
letters("board", "bored")

['bdor', 'a', 'e']

In [19]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

In [20]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [21]:
letters("match", "ham")

['ahm', 'ct', '']

### 3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

In [28]:
def pairs(lst):
    output = []
    while True:
        if len(lst) > 0:
            if len(lst) == 1:
                output.append([lst[0],lst.pop(0)])
            else:
                output.append([lst.pop(0),lst.pop(-1)])
        else:
            break
    print(output)

In [29]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [30]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [31]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

In [32]:
pairs([])

[]

### 4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

In [36]:
def add_str_nums(one,two):
    one = one if len(one) > 0 else "0"
    two = two if len(two) > 0 else "0"
    if one.isdigit() == False or two.isdigit() == False:
        output = -1
    else: 
        output = int(one)+int(two)
    print(str(output))

In [37]:
add_str_nums("4", "5")

9

In [38]:
add_str_nums("abcdefg", "3")

-1

In [39]:
add_str_nums("1", "")

1

In [40]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

1874682736267235927391936562808774986

### 5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!

Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

In [43]:
def unmix(string):
    output = ''
    for i in range(0,len(string)-1,2):
        output += string[i+1]+string[i]
        if (len(string)%2 != 0 and i == len(string)//2 ):
            output += string[-1]       
    print(output)

In [44]:
unmix("123456")

214365

In [45]:
unmix("hTsii  s aimex dpus rtni.g")

This is a mixed up string.

In [46]:
unmix("badce")

abcde